interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.nationalize.io/?name=nathaniel
  response:
    body:
      string: '{"count":49469,"name":"nathaniel","country":[{"country_id":"AA","probability":0.999},{"country_id":"NN","probability":0.888},{"country_id":"LL","probability":0.777},{"country_id":"UU","probability":0.555},{"country_id":"RR","probability":0.222}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-rate-limit-limit:
      - '1000'
      x-rate-limit-remaining:
      - '997'
      x-rate-limit-reset:
      - '44107'
    status:
      code: 200
      message: OK
version: 1
